

.custom-feedback-container {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: url('https://wallpaperaccess.com/full/817619.jpg') center/cover no-repeat fixed;
}

.custom-feedback-container h2 {
  text-align: center;
  color: #3e3e3e;
  font-family: 'd';
}

.custom-feedback-form {
  max-width: 600px;
  margin: 20px auto;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.custom-feedback-form label {
  display: block;
  margin-bottom: 15px;
}

.custom-feedback-form input,
.custom-feedback-form textarea,
.custom-feedback-form select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.custom-feedback-form textarea {
  resize: vertical;
}

.custom-feedback-form select {
  appearance: none;
}

.custom-feedback-form button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.custom-feedback-form button:hover {
  background-color: #2980b9;
}


.custom-feedback-form input[type="checkbox"],
.custom-feedback-form input:disabled,
.custom-feedback-form textarea:disabled,
.custom-feedback-form select:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}


